<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/events/add" method="POST">
        <label for="name">Event Name:</label>
        <input type="text" name="name" id="name" required
            th:value="${event} != null ? ${event.getName()} : ''">
        <br/>

        <label for="description">Description:</label>
        <input name="description" id="description" required
               th:value="${event} != null ? ${event.getDescription()} : ''">
        <br/>

        <label for="popularityScore">Popularity Score:</label>
        <input type="number" name="popularityScore" id="popularityScore" min="0" max="10" required
               th:value="${event} != null ? ${event.getPopularityScore()} : ''">
        <br/>

        <label for="locationId">Location:</label>
        <select name="locationId" id="locationId" required>
            <option th:if="${event} != null"
                    th:selected="${event.getLocation() != null
                    && event.getLocation().getId() == location.getId()}"
                    th:each="location : ${locations}"
                    th:text="${location.getName()}"
                    th:value="${location.getId()}">
            </option>
            <option th:if="${event} == null"
                    th:each="location : ${locations}"
                    th:text="${location.getName()}"
                    th:value="${location.getId()}">
            </option>
        </select>
        <br/>

        <button type="submit">Submit</button>
    </form>
</body>
</html>