<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Event Booking page - Welcome and choose an Event</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to our Event Booking App</h1>
</header>
<main>
    <h2>Search for an event:</h2>
    <form th:method="GET" th:action="@{/events}">
        <label for="searchByName">Search by event name:</label>
        <input type="text" name="searchName" id="searchByName">
        <br/>

        <label for="searchByRating">Search by event raiting (0 - 10):</label>
        <input type="number" name="searchRating" id="searchByRating">
        <br/>
        <input type="submit" value="Submit">
    </form>

   <div>
       <div>
           <a href="events/add-event" class="btn btn-block">Add Event</a>
       </div>
   </div>

    <form th:method="POST" th:action="@{/events/eventBooking}">
        <h2>Choose an event:</h2>
        <div th:each="event : ${events}">
            <form th:method="post" th:action="@{/events/eventBooking}" style="display:inline;">
                <input type="radio" name="selectedEvent" th:value="${event.name}" required>
                <label>
                    Name: <span th:text="${event.name}"></span><br/>
                    Description: <span th:text="${event.description}"></span><br/>
                    Rating: <span th:text="${event.popularityScore}"></span><br/>
                    Location: <span th:text="${event.location.name}"></span><br/>
                </label>
                <input type="number" name="numTickets" min="1" max="10" required>
                <input type="submit" value="Book Event">
            </form>


            <form th:action="@{'/events/delete/{id}' (id=${event.id})}" th:method="delete" style="display:inline;">
                <button type="submit">Delete Event</button>
            </form>


            <a th:href="@{'/events/edit-form/{id}' (id=${event.id})}">Edit Event</a>
        </div>
    </form>

</main>
</body>
</html>